

body { margin: 0; }

.header h3{
  color: #fff1f0 !important;
  margin: 0;
}


.kek {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}



.country {
  margin: 10px 10px 5px 5px;
  width: 250px;
}