

body {
  margin: 0;
}

.header h3{
  color: #fff1f0 !important;
  margin: 0;
}


.kek {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.smth_item {
  background-color: #4d20a0;
  border-radius: 5px;
  color: white;
  width: fit-content;
  padding: 15px 10px;
  margin: 20px 20px 20px 0;
}
.smth_item h2,h3{
  margin: 0;
}
.smth_item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  margin-top: 20px;
}